extends _common/layout/_index

block body
    section.fold__header.flex-center
        include home/_header-home
    section.fold-content
        include home/_block-1
        include home/_block-2
        include home/_logos
        include home/_block-3

        